In [8]:
from brand_alignment_processing import *
import pandas as pd
import spacy
import urllib.request as requests
from tqdm.auto import tqdm
from collections import defaultdict

In [9]:
df=pd.read_csv('Final-NBCU-Contextual-IAB-Taxonomy-Mapping-2022-Copy.csv')

In [10]:
df=df[df['Important to NBCU']=='Y']

In [11]:
df=df['Name']

In [12]:
df.info()

<class 'pandas.core.series.Series'>
Int64Index: 160 entries, 0 to 680
Series name: Name
Non-Null Count  Dtype
--------------  -----
160 non-null    object
dtypes: object(1)
memory usage: 2.5+ KB

In [7]:
df.to_csv("AllTiersAdword.csv")

In [15]:
df.head()

,Unique ID,Parent,Name,Tier 1 Parent,Tier (1-4),Important to NBCU,AG NOTES,"Additional signals (e.g., objects, scene settings)",Object signals,Scene signals,Example Advertiser Industry,Logo signals,Explicit Triggers,Date Selected,Unnamed: 14
0,1,NaN,Automotive,Automotive,1,Y,NaN,NaN,sedan; convertible; wagon; suv; van; pick_up_t...,road_outdoor; car_indoor,Automotive,"logos for all automotive brands (e.g., cars, s...",NaN,3/9/2021,NaN
1,42,NaN,Books and Literature,Books and Literature,1,Y,NaN,NaN,NaN,library_bookstore,Entertainment,NaN,NaN,3/9/2021,NaN
2,52,NaN,Business and Finance,Business and Finance,1,Y,NaN,"Office environment, Cubicles, Desk + Screens, ...",NaN,office_indoor,"Corporate & Association, Office Supplies and E...",logos for all relevant brands,NaN,3/9/2021,NaN
3,132,NaN,Education,Education,1,Y,NaN,NaN,NaN,university_indoor; university_outdoor; classroom,Education,NaN,NaN,3/9/2021,NaN
4,150,NaN,Events and Attractions,Events and Attractions,1,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/9/2021,NaN

In [9]:
print(df.columns)

Index(['Unique ID ', 'Parent', 'Name', 'Tier 1 Parent', 'Tier (1-4)',
       'Important to NBCU', 'AG NOTES',
       'Additional signals (e.g., objects, scene settings)', 'Object signals',
       'Scene signals', 'Example Advertiser Industry', 'Logo signals',
       'Explicit Triggers', 'Date Selected', 'Unnamed: 14'],
      dtype='object')

In [36]:
dftier1=df[df['Tier (1-4)']==1]

KeyError: 'Tier (1-4)'

In [18]:
dftier1=dftier1['Name']

In [35]:
dftier1.columns

AttributeError: 'Series' object has no attribute 'columns'

In [43]:
df

,Unique ID,Parent,Name,Tier 1 Parent,Tier (1-4),Important to NBCU,AG NOTES,"Additional signals (e.g., objects, scene settings)",Object signals,Scene signals,Example Advertiser Industry,Logo signals,Explicit Triggers,Date Selected,Unnamed: 14
0,1,NaN,Automotive,Automotive,1,Y,NaN,NaN,sedan; convertible; wagon; suv; van; pick_up_t...,road_outdoor; car_indoor,Automotive,"logos for all automotive brands (e.g., cars, s...",NaN,3/9/2021,NaN
1,42,NaN,Books and Literature,Books and Literature,1,Y,NaN,NaN,NaN,library_bookstore,Entertainment,NaN,NaN,3/9/2021,NaN
2,52,NaN,Business and Finance,Business and Finance,1,Y,NaN,"Office environment, Cubicles, Desk + Screens, ...",NaN,office_indoor,"Corporate & Association, Office Supplies and E...",logos for all relevant brands,NaN,3/9/2021,NaN
3,132,NaN,Education,Education,1,Y,NaN,NaN,NaN,university_indoor; university_outdoor; classroom,Education,NaN,NaN,3/9/2021,NaN
4,150,NaN,Events and Attractions,Events and Attractions,1,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/9/2021,NaN
5,186,NaN,Family and Relationships,Family and Relationships,1,Y,NaN,"family dinner, family in car, siblings, family...",NaN,NaN,NaN,NaN,NaN,4/15/2022,NaN
6,201,NaN,Fine Art,Fine Art,1,Y,NaN,"art history, paintings, sculptures, ballet, da...",NaN,NaN,"Travel, Entertainment",NaN,NaN,3/9/2021,NaN
7,210,NaN,Food & Drink,Food & Drink,1,Y,NaN,NaN,food and drink objects,kitchen_indoor; restaurant_indoor,"Restaurants, Consumer Goods",logos for all relevant brands,NaN,3/9/2021,NaN
8,223,NaN,Healthy Living,Healthy Living,1,Y,NaN,"gym, working out, smoothies, hiking, walking, ...",NaN,NaN,"Personal Care, Pharmaceuticals, Sports and Spo...",NaN,NaN,4/15/2022,NaN
12,239,NaN,Hobbies & Interests,Hobbies & Interests,1,Y,NaN,NaN,NaN,NaN,"Entertainment, Consumer Goods, Toys",NaN,NaN,3/9/2021,NaN
14,274,NaN,Home & Garden,Home & Garden,1,Y,NaN,NaN,bed; couch; chair; dining_table; microwave; ov...,house_indoor; house_outdoor,Home,NaN,NaN,3/9/2021,NaN
21,286,NaN,Medical Health,Medical Health,1,Y,"All tier 2, 3 and 4 categories as signals","doctors, hospitals, doctors office, dentists, ...",doctor,hospital_indoor,NaN,NaN,NaN,4/15/2022,NaN
22,324,NaN,Movies,Movies,1,Y,NaN,"Movie Theater, Projection Screen, popcorn in t...",NaN,movie_theatre,"Studios - Universal Pictures, MGM, 21 Century ...",NaN,"Star Wars, Marvel, Avengers, Batman, Iron Man,...",4/15/2022,NaN
24,338,NaN,Music and Audio,Music and Audio,1,Y,NaN,"Visual: instruments, DJ table, records, music ...",NaN,NaN,NaN,NaN,NaN,3/9/2021,NaN
27,422,NaN,Pets,Pets,1,Y,NaN,"collar, leash,",dog; cat,NaN,Retail,NaN,NaN,3/9/2021,NaN
28,432,NaN,Pop Culture,Pop Culture,1,Y,"All tier 2, 3 and 4 categories as signals","social media, entertainment news",NaN,NaN,NaN,NaN,"Instagram, TikTok, Facebook, Twitter, Buzzfeed",4/15/2022,NaN
32,441,NaN,Real Estate,Real Estate,1,Y,NaN,"For sale sign, open house sign, moving trucks,...",NaN,house_outdoor; house_indoor; retail_outdoor,"Real Estate, Home",NaN,NaN,3/9/2021,NaN
34,453,NaN,Religion & Spirituality,Religion & Spirituality,1,Y,NaN,"religious books, religious symbols, religious ...",NaN,religious_event,NaN,NaN,NaN,3/9/2021,NaN
36,464,NaN,Science,Science,1,Y,NaN,"science lab, test tubes",NaN,NaN,NaN,NaN,NaN,3/9/2021,NaN
41,473,NaN,Shopping,Shopping,1,Y,NaN,"shopping bags, malls, storefronts, credit cards",NaN,retail_indoor; retail_outdoor,"Retail, Consumer Goods",logos for all relevant brands,NaN,3/9/2021,NaN
42,483,NaN,Sports,Sports,1,Y,"All tier 2, 3 and 4 categories as signals",NaN,sports objects,sporting_event,"Retail, Consumer Goods",logos for all relevant brands,"MLB, NBA, NFL, World Cup, Premier League, La L...",4/15/2022,NaN
52,552,NaN,Style & Fashion,Style & Fashion,1,Y,"All tier 2, 3 and 4 categories as signals","models, runway, fashion week",NaN,NaN,"Retail, Personal Care",logos for all relevant brands,NaN,3/9/2021,NaN
92,596,NaN,Technology & Computing,Technology & Computing,1,Y,NaN,"computers, laptops, tablets",laptop; cellphone; keyboard,NaN,NaN,logos for all relevant brands,NaN,3/9/2021,NaN
93,640,NaN,Television,Television,1,Y,NaN,"television set, flatscreen TVs, vintage TVs",tv; remote,NaN,NaN,NaN,NaN,3/9/2021,NaN
95,653,NaN,Travel,Travel,1,Y,NaN,"airplanes, trains, buses, taxis, airports, tra...",airplane; train; suitcase,airplane_indoor; beach_outdoor; cruise_outdoor...,Travel,logos for all relevant brands,NaN,3/9/2021,NaN
96,680,NaN,Video Gaming,Video Gaming,1,Y,NaN,"video game console, game controllers",video_game,NaN,"Consumer Goods, Computers, Entertainment",logos for all relevant brands,NaN,3/9/2021,NaN
123,123,NaN,Careers,Careers,1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,379,NaN,News and Politics,News and Politics,1,N,NaN,*News business use case needs to be scoped by ...,NaN,news_studio,NaN,NaN,NaN,NaN,OCR
391,391,NaN,Personal Finance,Personal Finance,1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['Unique ID ', 'Parent', 'Name', 'Tier 1 Parent', 'Tier (1-4)',
       'Important to NBCU', 'AG NOTES',
       'Additional signals (e.g., objects, scene settings)', 'Object signals',
       'Scene signals', 'Example Advertiser Industry', 'Logo signals',
       'Explicit Triggers', 'Date Selected', 'Unnamed: 14'],
      dtype='object')

In [21]:
df=df[['Name', 'Tier 1 Parent']]

In [22]:
df.head()

                     Name           Tier 1 Parent
0              Automotive              Automotive
1    Books and Literature    Books and Literature
2    Business and Finance    Business and Finance
3               Education               Education
4  Events and Attractions  Events and Attractions

In [41]:
dic=combiner(dftier1, df)

In [39]:
def combiner(dftier1, df ):
    og=dftier1.to_list()
    ogName=df['Name'].to_list()
    Tier1Parent=df['Tier 1 Parent'].to_list()
    final=defaultdict(list)
    for i in range(len(ogName)):
        for j in range(len(og)):
            if og[j]==Tier1Parent[i]:
                final[og[j]].append(ogName[i])     

    for k,v in final.items():
        combined=" ".join(v)
        combined=combined.replace(k + " ", "")
        final[k]=combined
        
    return final

In [42]:
dffinal=pd.DataFrame()
dffinal['Name']=list(dic.keys())
dffinal['info']=list(dic.values())

In [43]:
dffinal

,Name,info
0,Automotive,Automotive Crossover Hatchback Microcar Off-Ro...
1,Books and Literature,Books and Literature Art and Photography Books...
2,Business and Finance,Business and Finance Business Business Account...
3,Education,Education College Education Primary Education ...
4,Events and Attractions,Events and Attractions Fashion Events Malls & ...
5,Family and Relationships,Family and Relationships Dating Parenting Sing...
6,Fine Art,Fine Art Costume Dance Design Digital Arts Fin...
7,Food & Drink,Food & Drink Alcoholic Beverages World Cuisine...
8,Healthy Living,Healthy Living Fitness and Exercise Wellness C...
9,Hobbies & Interests,Hobbies & Interests Musical Instruments Games ...
10,Home & Garden,Home & Garden Gardening Remodeling & Construct...
11,Medical Health,Medical Health Diseases and Conditions Allergi...
12,Movies,Movies Action and Adventure Movies Romance Mov...
13,Music and Audio,Music and Audio Adult Contemporary Music Soft ...
14,Pets,Pets Birds Cats Dogs Large Animals Reptiles Fi...
15,Pop Culture,Pop Culture Celebrity Deaths Celebrity Familie...
16,Real Estate,Real Estate Apartments Retail Property Hotel P...
17,Religion & Spirituality,Religion & Spirituality Agnosticism Spirituali...
18,Science,Science Space and Astronomy Biological Science...
19,Shopping,Shopping Flower Shopping Grocery Shopping Holi...
20,Sports,Sports American Football Boxing Cheerleading C...
21,Style & Fashion,Style & Fashion Beauty Natural and Organic Bea...
22,Technology & Computing,Technology & Computing Consumer Electronics Ar...
23,Television,Television Animation TV Soap Opera TV Special ...
24,Travel,Travel Travel Accessories Travel Locations Afr...
25,Video Gaming,Video Gaming Console Games eSports Mobile Game...
26,Careers,Careers Apprenticeships Career Advice Career P...
27,News and Politics,News and Politics Crime Disasters Internationa...
28,Personal Finance,Personal Finance Consumer Banking Financial As...

In [46]:
Sentences=['I am going for a drive or to buy a car', 'I am reading and writing literature in the book in the library', 'I am opening a business and will work out from an office', 'Going to school, college, university is important for your education', 'There is a huge carnival, festival coming up which is a big event and attraction', 'The family will sit together on the dinner table for a family gathering', 'Going to a museum, gallery to look at paintings, sculptures, dancing and ballet', 'The chef prepares the Food and drinks in the kitchen of the resteraunt', 'I am going on a diet, going to workout in the gym and live a healthy lifestyle', 'I do that activity as a hobby and interest of mine', 'I am going to mow the lawn, get tools for our garage and buy appliances for the house', 'We need to visit the doctor, go to the hospital to get medicine and treat the sickness', 'Lets go watch a movie at the theater cinema and eat popcorn', "She is singing and music is playing with instruments on a mic", 'I love all kinds of pets like dogs, cats, birds and fish', 'Lets get on Instagram, Twitter, Facebook, Snapcaht, TikTok and YouTube which are pop culture', 'This real estate property has a for sale sign, moving trucks, boxes and a construction site', 'It is a part of theur religion and spirituality including christmas, santa, bible, god and holy books', 'Science such as physics, chemistry, biology which we study and research in a laboratory with test tubes', 'Lets go shopping to the mall, I want to buy gifts and a dress with my credit card', 'I like playing sports', "It's a part of style and fashion, the models, runways and fashion weeks", "Technology and computing includes computers, gadgets, laptops, tablets and iphones", "Pass the remote to watch TV on our Television set", "I want to travel on an airplane or train, go to the beach, hotels, a cruise with my suitcase", "I am playing video games on my playstation xbox console with my controller", "It's a matter of my personal growth and career to have ambition and get ahead in my career", "Politicians, Senators and their bills are a part of the constitution and on the daily news", "Personal finance includes credit card debt, mortgages, loans and other forms of financial planninng" ]

In [47]:
print(len(Sentences))

29

In [48]:
dfsentences=pd.DataFrame()
dfsentences['Name']=list(dic.keys())
dfsentences['info']=Sentences

In [ ]:
dfsentences.to_csv('SentencesTargetDatabase.csv')

In [45]:
dffinal.to_csv('ChildAdwordTargetDatabase.csv')

In [47]:
df.fillna('')

,Name,"Additional signals (e.g., objects, scene settings)",Object signals,Scene signals,Example Advertiser Industry,Explicit Triggers
0,Automotive,,sedan; convertible; wagon; suv; van; pick_up_t...,road_outdoor; car_indoor,Automotive,
1,Books and Literature,,,library_bookstore,Entertainment,
2,Business and Finance,"Office environment, Cubicles, Desk + Screens, ...",,office_indoor,"Corporate & Association, Office Supplies and E...",
3,Education,,,university_indoor; university_outdoor; classroom,Education,
4,Events and Attractions,,,,,
5,Family and Relationships,"family dinner, family in car, siblings, family...",,,,
6,Fine Art,"art history, paintings, sculptures, ballet, da...",,,"Travel, Entertainment",
7,Food & Drink,,food and drink objects,kitchen_indoor; restaurant_indoor,"Restaurants, Consumer Goods",
8,Healthy Living,"gym, working out, smoothies, hiking, walking, ...",,,"Personal Care, Pharmaceuticals, Sports and Spo...",
12,Hobbies & Interests,,,,"Entertainment, Consumer Goods, Toys",
14,Home & Garden,,bed; couch; chair; dining_table; microwave; ov...,house_indoor; house_outdoor,Home,
21,Medical Health,"doctors, hospitals, doctors office, dentists, ...",doctor,hospital_indoor,,
22,Movies,"Movie Theater, Projection Screen, popcorn in t...",,movie_theatre,"Studios - Universal Pictures, MGM, 21 Century ...","Star Wars, Marvel, Avengers, Batman, Iron Man,..."
24,Music and Audio,"Visual: instruments, DJ table, records, music ...",,,,
27,Pets,"collar, leash,",dog; cat,,Retail,
28,Pop Culture,"social media, entertainment news",,,,"Instagram, TikTok, Facebook, Twitter, Buzzfeed"
32,Real Estate,"For sale sign, open house sign, moving trucks,...",,house_outdoor; house_indoor; retail_outdoor,"Real Estate, Home",
34,Religion & Spirituality,"religious books, religious symbols, religious ...",,religious_event,,
36,Science,"science lab, test tubes",,,,
41,Shopping,"shopping bags, malls, storefronts, credit cards",,retail_indoor; retail_outdoor,"Retail, Consumer Goods",
42,Sports,,sports objects,sporting_event,"Retail, Consumer Goods","MLB, NBA, NFL, World Cup, Premier League, La L..."
52,Style & Fashion,"models, runway, fashion week",,,"Retail, Personal Care",
92,Technology & Computing,"computers, laptops, tablets",laptop; cellphone; keyboard,,,
93,Television,"television set, flatscreen TVs, vintage TVs",tv; remote,,,
95,Travel,"airplanes, trains, buses, taxis, airports, tra...",airplane; train; suitcase,airplane_indoor; beach_outdoor; cruise_outdoor...,Travel,
96,Video Gaming,"video game console, game controllers",video_game,,"Consumer Goods, Computers, Entertainment",
123,Careers,,,,,
379,News and Politics,*News business use case needs to be scoped by ...,,news_studio,,
391,Personal Finance,,,,,

In [48]:
df['info']=df[['Additional signals (e.g., objects, scene settings)','Object signals','Scene signals','Example Advertiser Industry','Explicit Triggers']].apply(lambda x: '_'.join(x.astype(str)), axis=1)

In [49]:
df.head()

,Name,"Additional signals (e.g., objects, scene settings)",Object signals,Scene signals,Example Advertiser Industry,Explicit Triggers,info
0,Automotive,NaN,sedan; convertible; wagon; suv; van; pick_up_t...,road_outdoor; car_indoor,Automotive,NaN,nan_sedan; convertible; wagon; suv; van; pick_...
1,Books and Literature,NaN,NaN,library_bookstore,Entertainment,NaN,nan_nan_library_bookstore_Entertainment_nan
2,Business and Finance,"Office environment, Cubicles, Desk + Screens, ...",NaN,office_indoor,"Corporate & Association, Office Supplies and E...",NaN,"Office environment, Cubicles, Desk + Screens, ..."
3,Education,NaN,NaN,university_indoor; university_outdoor; classroom,Education,NaN,nan_nan_university_indoor; university_outdoor;...
4,Events and Attractions,NaN,NaN,NaN,NaN,NaN,nan_nan_nan_nan_nan

In [50]:
def replace(text):
    text=text.replace('_', ' ')
    text=text.replace('nan',' ')
    return text

In [51]:
df['info']=df['info'].apply(replace)

In [52]:
df['info']

0        sedan; convertible; wagon; suv; van; pick up...
1                      library bookstore Entertainment
2      Office environment, Cubicles, Desk + Screens, ...
3          university indoor; university outdoor; cla...
4
5      family dinner, family in car, siblings, family...
6      art history, paintings, sculptures, ballet, da...
7        food and drink objects kitchen indoor; resta...
8      gym, working out, smoothies, hiking, walking, ...
12                 Entertainment, Consumer Goods, Toys
14       bed; couch; chair; dining table; microwave; ...
21     doctors, hospitals, doctors office, dentists, ...
22     Movie Theater, Projection Screen, popcorn in t...
24     Visual: instruments, DJ table, records, music ...
27                   collar, leash,  dog; cat   Retail
28     social media, entertainment news       Instagr...
32     For sale sign, open house sign, moving trucks,...
34     religious books, religious symbols, religious ...
36                       science lab, test tubes
41     shopping bags, malls, storefronts, credit card...
42       sports objects sporting event Retail, Consum...
52     models, runway, fashion week     Retail, Perso...
92     computers, laptops, tablets laptop; cellphone;...
93     television set, flatscreen TVs, vintage TVs tv...
95     airplanes, trains, buses, taxis, airports, tra...
96     video game console, game controllers video gam...
123
379    *News business use case needs to be scoped by ...
391
Name: info, dtype: object

In [53]:
df=df[['Name','info']]

In [54]:
df.head()

                     Name                                               info
0              Automotive    sedan; convertible; wagon; suv; van; pick up...
1    Books and Literature                  library bookstore Entertainment
2    Business and Finance  Office environment, Cubicles, Desk + Screens, ...
3               Education      university indoor; university outdoor; cla...
4  Events and Attractions

In [55]:
df.to_csv('InitialTargetDatabase.csv')